.container{
    display: flex;
}

.home_container{
    flex: 6;
}

.home_widgets,
.home_charts{
    display: flex;
    padding: 20px;
    gap: 15px;
}

.home_list_container{
    box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
    padding: 20px;
    margin: 20px;
}

.list_container_title{
    color: gray;
    font-weight: 600;
    margin-bottom: 15px;
}